
<!DOCTYPE html>
<html>
<head>
	<title>Github Stats</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link rel="stylesheet" type="text/css" href="../static/main.js">
	<!-- <link rel="stylesheet" type="text/css" href="../static/style.css">
	<link rel="stylesheet" type="text/css" href="main.js"> -->
	<script src="https://kit.fontawesome.com/f43423ee62.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="user-detail">
		<img src="https://avatars.githubusercontent.com/u/58596929?v=4">
		<div class="details">
			<h1 style="font-size: 3rem">Arnav17Sharma</h1>
			<h3>Joined - 2019-12-06</h3>
			<h4>Presently a student in DPS Bhilai,India</h4>
			<h4>followers - 6</h4>
			<h4>following - 20</h4>
		</div>
	</div>
	<div class="repo-containers">
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">assets</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>1</p>
				<p><i class="far fa-star"></i>0</p>
				<p><i class="fas fa-code-branch"></i>0</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">C-Makefile</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>1</p>
				<p><i class="far fa-star"></i>0</p>
				<p><i class="fas fa-code-branch"></i>0</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">Covid19India</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>1</p>
				<p><i class="far fa-star"></i>0</p>
				<p><i class="fas fa-code-branch"></i>0</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">DiscordBot-Arnav-s-Bot</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>1</p>
				<p><i class="far fa-star"></i>1</p>
				<p><i class="fas fa-code-branch"></i>0</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">Flask_Blog</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>2</p>
				<p><i class="far fa-star"></i>0</p>
				<p><i class="fas fa-code-branch"></i>1</p>
				<p><i class="fas fa-exclamation-circle"></i>1</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">Google-Code-In-BT2</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>1</p>
				<p><i class="far fa-star"></i>0</p>
				<p><i class="fas fa-code-branch"></i>0</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">Lichess-Puzzle-Generator</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>1</p>
				<p><i class="far fa-star"></i>2</p>
				<p><i class="fas fa-code-branch"></i>0</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">Rust-Hello-GCI-</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>1</p>
				<p><i class="far fa-star"></i>0</p>
				<p><i class="fas fa-code-branch"></i>0</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">Space</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>1</p>
				<p><i class="far fa-star"></i>0</p>
				<p><i class="fas fa-code-branch"></i>0</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">Tic-Tac-Toe-Pygame</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>1</p>
				<p><i class="far fa-star"></i>0</p>
				<p><i class="fas fa-code-branch"></i>0</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">Unit-Conversion</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>1</p>
				<p><i class="far fa-star"></i>0</p>
				<p><i class="fas fa-code-branch"></i>0</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">Unit-Conversion-2-</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>1</p>
				<p><i class="far fa-star"></i>0</p>
				<p><i class="fas fa-code-branch"></i>0</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">Weather-App</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>1</p>
				<p><i class="far fa-star"></i>0</p>
				<p><i class="fas fa-code-branch"></i>0</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">Space-Invaders</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>1</p>
				<p><i class="far fa-star"></i>1</p>
				<p><i class="fas fa-code-branch"></i>0</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">Trip-Assistant</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>3</p>
				<p><i class="far fa-star"></i>3</p>
				<p><i class="fas fa-code-branch"></i>0</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
		<div class="repo-container">
			<h1>Arnav17Sharma/<span style="font-weight: 900">Spotify-Stats</span></h1>
			<div class="sub">
				<p><i class="fas fa-user-friends"></i>2</p>
				<p><i class="far fa-star"></i>39</p>
				<p><i class="fas fa-code-branch"></i>7</p>
				<p><i class="fas fa-exclamation-circle"></i>0</p>
			</div>
		</div>
		
	</div>
	{&#39;C&#39;: 92, &#39;Makefile&#39;: 42, &#39;HTML&#39;: 739345, &#39;Python&#39;: 249875, &#39;CSS&#39;: 39804, &#39;Shell&#39;: 1, &#39;Rust&#39;: 43, &#39;JavaScript&#39;: 142053}
	{&#39;limit&#39;: 5000, &#39;used&#39;: 172, &#39;remaining&#39;: 4828, &#39;reset&#39;: 1621881254}
</body>
</html>